<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oreder List</title>
    <style>
        h1{
            font-family: arial, sans-serif;    
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td { 
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          background: rgb(133, 165, 255);   
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1 align="center">Order List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Popularity</th>
        </tr>
        <% 
            keys.forEach((key) => { %>
            <tr>
                <td><%= products[key].title %></td>
                <td><%= products[key].price %></td>
                <td><%= products[key].popularity %></td>
            </tr>           
        <% }) %>
    </table>
</body>
</html>